{{page-title 'Index'}}

<div class="section">
  <h2> Welcome to Denver Wine Tours! </h2>
{{!-- Moved to calendar.hbs + Added LinkTo --}}
  <LinkTo @route='calendar'> 
    Click here to book your tour!
  </LinkTo>
</div>

{{outlet}}